*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgb(234, 121, 212);
}
.div-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
    text-align: center;
    margin-bottom: 4%;
    background-color: #FFF;
}
.div-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    width: 40vw;
    height: 70vh;
    margin: 5%;
}
.input-numero{
    text-align: center;
    margin-top: 2%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: #FFF;
    width: 50%;
    margin-bottom: 2%;
}
.div-saida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    width: 40vw;
    height: 70vh;
    margin: 5%;
}
.select-base-conversao{
    margin-top: 2%;
    width: 40%;
    font-size: 120%;
    border-radius: 10px;
    background-color: #FFF;
    
}
.div-alinhar{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    width: 50vw;

}
.checkbox-opcoes{
    width: 20%;
    height: 20%;
    margin-top: 1%;
    background-color: #FFF;
}
.span-pergunta{
    font-size: 150%;
    background-color: #FFF;
}
.span-resposta{
    font-size: 100%;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.div-saida span{
    font-size: 100%;
}
.btn-limpar{
    margin-top: 5%;
    font-size: 90%;
    background-color: transparent;
    border-color: black;
    border: 2px solid black;
    width: 20vw;
    height: 6vh;
    color: black;
    border-radius: 15px;
}
.btn-limpar:hover{
    transform: scale(1, 1.2);
    background-color: black;
    color: #FFF;
}